body {
    margin: 0;
}



nav {
    background-color: rgb(230, 230, 153);
    border: solid;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    color: rgb(89, 85, 13);
    text-decoration: none;
    padding: 15px;
}


main {
    padding-top: 70px;
}

.bestelKnop {
    text-align: center;
    color: black;
    border: solid color(rgb(230, 230, 153));
    border-radius: 5px;
    background-color: rgb(230, 230, 153);
    text-decoration: none;
    margin-right: 300px;
    padding: 1%;
    padding-left: 30%;
    padding-right: 30%;
}

.bestelKnop:hover {
    color: white;
    border: solid color(rgb(230, 230, 153));
    border-radius: 5px;
    background-color: rgb(230, 230, 153);
    text-decoration: none;
    padding-left: 29%;
    padding-right: 29%;
}

.contentMain {
    display: flex;
    gap: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
}

.contentMain2 {
    border-top: solid;
}

.contentMain2 {
    display: flex;
    gap: 70px;
    border-top: solid;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

#leftColum {
    border: solid;
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;

}

#leftColumText {
    padding-right: 0px;
    padding-left: 0px;
    font-size: small;
    flex: 2;
    margin: 0px;
    flex: 1;
}

#leftColumText2 {
    font-size: small;
    flex: 1;
    padding-right: 10px;
}

#rightColom {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#rightColumText {
    padding-right: 0px;
}


.setInformatie {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}

a:hover {
    color: rgb(190, 52, 45);
}

img {
    width: 40px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: red;
    border: solid color(red);
    border-radius: 5px;
    margin-top: 10px;
}

.ucsVenator {
    background-color: rgb(255, 255, 255);
    width: 500px;
    border: solid;
    margin: 10px;
    margin-left: 0px;
}

.gerelateerdeItems {
    display: flex;
    gap: 50px;
    justify-content: center;
    background-color: rgb(230, 230, 153);
}

#UCSfalcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 30px;
}

#ghostAndfantom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#legoRivendell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: 30px;
}

#gerelateerdeItemsText {
    padding-right: 0px;
}

#gerelateerdeItemsAfbeelingen {
    border: none;
    background-color: rgb(230, 230, 153);
    width: 5vw;
}

footer {
    display: flex;
    gap: 80px;
    justify-content: center;
    background-color: rgb(113, 113, 48);
}

#footerText {
    padding-right: 0px;
    font-size: small;
    color: rgb(188, 188, 188);
}

p {
    padding-right: 300px;
}

h1 {
    padding-left: 50px;
}

h2 {
    margin-right: 800px;
}

h3 {
    padding-top: 15px;
    padding-bottom: 4px;

    flex: 2;
    margin: 0px;
}